#task-sidebar {
  background-color: rgba(36, 39, 43, 1);
  color: rgba(234, 255, 254, 1);
  min-height: calc(100vh - 55px);
  min-width: 30vw;
  position: relative;
}

#task-page {
  display: flex;
  flex-direction: row;
}

#task-section {
  background-color: rgba(234, 255, 254, 1);
  width: 70vw;
}

.sidebar-header {
  background-color: rgba(141, 153, 174, 1);
  box-shadow: 2px 0px 8px grey;
  text-shadow: 0px 0px 2px rgba(16, 79, 85, 1);
  color: rgba(36, 39, 43, 1);
  margin: 8px 0px;
  border-radius: 2px;
  text-align: center;
}

.sidebar-item:hover {
  /* box-shadow: 2px 0px 16px rgba(16, 79, 85, 1); */
  text-shadow: 0px 0px 4px rgba(234, 255, 254, 1);
}

#add-task {
  position: absolute;
  margin-right: 16px;
  right: 0;
  bottom: 0;
}

.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8px auto;
  padding: 8px;
}

.task-title {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.task-control {
  max-width: 20%;
  display: flex;
}
