.bg-img {
  background-image: url("/images/back2.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  height: 600px;
  width: 650px;
  padding: 0;
  margin: 0;
  vertical-align: middle !important;
  /* display: flex;
  flex-direction: row; */
  /* padding-top: 150px; */
  position: relative;
  top: 90px;

}

.prp-paragr{
  vertical-align: middle;
}

.btn-prp2 {
  border-radius: 20px !important;
  color:  #2F0152;
  background-color: #2F0152 !important;
  border-color: #2F0152 !important;

}

.welcome {
  padding-top: 250px;
  width: 400px;
  padding-left: 36px;
}

.landing-home {
  display: flex;
  flex-direction: row;
}